@import './bootstrap.min';
@import './Styles.scss';
@import './login/Login.scss';
@import './Home/Home.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: $textColor;
  font-weight: 500;
  @include transition;

  &:hover {
    color: $blue;
    text-decoration: none;

    svg {
      fill: $blue;
    }
  }
}

svg {
  fill: $textColor;
  @include transition;
}

h1 {
  margin: 32px 0;

  small {
    color: lightgray;
  }
}

img {
  height: 24px;
  width: auto;
  padding: 0 8px;
}
