@import './Variables.scss';

.row-spacing > *:not(:last-child) {
  margin-bottom: 16px;
}

.row-spacing-half > *:not(:last-child) {
  margin-bottom: 8px;
}

.col-spacing > *:not(:last-child) {
  margin-right: 12px;
}

@mixin transition {
  transition: all 0.25s ease-in-out;
}

.buttons-inline {
  display: flex;
  flex-direction: row;
}

.inline-button {
  color: $blue;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

input[type='submit'] {
  min-width: 96px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  background: $blue;
  color: white;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.field {
  display: flex;
  flex-direction: column;
}
