@import './Variables.scss';

.row-spacing > *:not(:last-child) {
  margin-bottom: 16px;
}

.row-spacing-half > *:not(:last-child) {
  margin-bottom: 8px;
}

.col-spacing > *:not(:last-child) {
  margin-right: 12px;
}

@mixin transition {
  transition: all 0.25s ease-in-out;
}

.buttons-inline {
  display: flex;
  flex-direction: row;
}

.inline-button {
  color: $blue;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
